body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;

.legend{
  padding: 12px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
}
.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin: 6px;
  opacity: 0.7;
}